@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");

#background-container {
  position: absolute;
  background-image: url(https://i.ibb.co/fd1ZZ8p/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

.filter {
  position: absolute;
  background-color: #1d1d1d73;
  height: 100vh;
  width: 100%;
  z-index: 2;
}
.image-masonry {
  margin: 19px;
  position: relative;
  background-color: transparent;
  z-index: 3;
}
.masonry img {
  width: 100%;
}
.switch {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}
.masonry {
  /*column-count: 4;*/
  column-count: 4 !important;
  column-gap: 16px;
  position: relative;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
  position: relative;
}
.overlay {
  position: relative;
  z-index: 10;
  background-color: #1d1d1dcc;
  margin-bottom: 0px !important;
  top: -15.2vh !important;
  color: white;
  display: none !important;
  padding: 0;
  width: 100%;
}
.switch:hover .overlay {
  display: inline-block !important;
}
@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
}
.art-work {
  font-size: 100%;
  font-family: "Cinzel", serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.art-artist {
  font-size: 100%;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.1em;
}

.search-noti {
  color: white;
  font-family: "Cinzel", serif;
}
